body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fefefe;
}
canvas {
  margin-top: 20px;
  border: 5px solid #333;
  border-radius: 50%;
}
button {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
}
#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}